<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Update Space</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

   <!-- CSS Start -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/flaticon.css">
        <link rel="stylesheet" href="/css/gijgo.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/slicknav.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
    <!-- CSS End -->
</head>

<body>
   <!-- Header Start -->
   <header>
    <div class="header-area ">
        <div class="header-top_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5 ">
                        <div class="header_left">
                            <p>Welcome to SpacePlus - Find Your Next Comfort Space</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="header_right d-flex">
                                <div class="short_contact_list">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-user"></i> <%= currentRegister.username %></a></li>
                                        <li><a href="#"> <i class="fa fa-envelope"></i> info@spaceplus.com</a></li>
                                        <li><a href="#"> <i class="fa fa-phone"></i> +639566794287</a></li>
                                        <li><a href="/"> <i class="fa fa-sign-out"></i> Logout </a></li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
             <div id="sticky-header" class="main-header-area">
                 <div class="container">
                     <div class="header_bottom_border">
                         <div class="row align-items-center">
                             <div class="col-xl-3 col-lg-2">
                                 <div class="logo">
                                     <a href="/index">
                                         <img src="/img/spaceplus.png" alt="">
                                     </a>
                                 </div>
                             </div>
                             <div class="col-xl-6 col-lg-7">
                                 <div class="main-menu  d-none d-lg-block">
                                     <nav>
                                         <ul id="navigation">
                                             <li><a class="active" href="/index">Home</a></li>
                                             <li><a href="/about">About Us</a>
                                         </ul>
                                     </nav>
                                 </div>
                             </div>
                             <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a  href="/manageSpaces">Manage Spaces</a>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12">
                                 <div class="mobile_menu d-block d-lg-none"></div>
                             </div>
                         </div>
                     </div>
 
                 </div>
             </div>
         </div>
     </header>
     <!-- Header End -->
          <!-- Add Space Header Start -->
          <div class="bradcam_area bradcam_bg_1">
                 <div class="container">
                     <div class="row">
                         <div class="col-xl-12">
                             <div class="bradcam_text text-center">
                                 <h3>Update Space</h3>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        <!-- Add Space Header End -->

   <!--================ Blog Area Start =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="comment-form">
                  <h4>Information</h4>

                  <form class="form-contact comment_form" action="/manageSpaces/<%= post._id %>?_method=PUT" id="commentForm" method="post">

                    <div class="row">

                        <div class="col-10">
                           <div class="form-group">
                            <label>Name</label>
                                <input class="form-control" name="post[name]" value="<%= post.name %>" type="text" required>
                           </div>
                        </div>

                        <div class="col-10">
                           <div class="form-group">
                            <label>Location</label>
                                <input class="form-control" name="post[location]" value="<%= post.location %>" type="text" required>
                           </div>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                            <label>Image</label>
                                 <input class="form-control" name="post[image]" value="<%= post.image %>" type="text" required>
                            </div>
                         </div>

                         <div class="col-sm-5">
                            <div class="form-group">
                                <label>Amenities</label>
                                <input class="form-control" name="post[kitchen]" value="<%= post.kitchen %>" type="text" placeholder="Kitchen" required><br>
                                 <input class="form-control" name="post[bedroom]" value="<%= post.bedroom %>" type="text" placeholder="Bedroom" required><br>
                                 <input class="form-control" name="post[bathroom]" value="<%= post.bathroom %>" type="text" placeholder="Bathroom" required><br>
                            </div>
                         </div>
                         
                         <div class="col-sm-5">
                            <div class="form-group">
                            <label>Square Footage</label>
                                 <input class="form-control" name="post[sqrfootage]" value="<%= post.sqrfootage %>" type="text" required>
                            </div>
                         </div>

                         <div class="col-10">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control w-100" name="post[description]" id="comment" cols="30" rows="9"><%= post.description %></textarea>
                             </div>
                         </div>

                         <div class="col-sm-5">
                            <div class="form-group">
                                <label>Rate</label>
                                 <input class="form-control" name="post[rate]" value="<%= post.rate %>" type="text" required>
                            </div>
                        </div>
                        
                    </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Update Space</button>
                     </div>

                  </form>
               </div>
            </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area End =================-->

   <!-- Footer Start -->
   <footer class="footer">
      <div class="footer_top">
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-md-6 col-lg-3">
                      <div class="footer_widget">
                          <div class="footer_logo">
                              <a href="#">
                                  <img src="img/spaceplus.png" alt="">
                              </a>
                          </div>
                          <p>
                                <a href="#">info@spaceplus.com</a><br>
                                +639566794287<br>
                                Cebu City, Philippines
                          </p>
                          <div class="socail_links">
                              <ul>
                                  <li>
                                      <a href="#">
                                          <i class="ti-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="ti-twitter-alt"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copy-right_text">
          <div class="container">
              <div class="footer_border"></div>
              <div class="row">
                  <div class="col-xl-12">
                      <p class="copy_right text-center">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Footer End -->


   <!-- Javascript Start -->
   <script src="js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="js/vendor/jquery-1.12.4.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/isotope.pkgd.min.js"></script>
   <script src="js/ajax-form.js"></script>
   <script src="js/waypoints.min.js"></script>
   <script src="js/jquery.counterup.min.js"></script>
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <script src="js/scrollIt.js"></script>
   <script src="js/jquery.scrollUp.min.js"></script>
   <script src="js/wow.min.js"></script>
   <script src="js/nice-select.min.js"></script>
   <script src="js/jquery.slicknav.min.js"></script>
   <script src="js/jquery.magnific-popup.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/gijgo.min.js"></script>
  <!-- Javascript End -->

   <!-- Contact Javascript Start -->
   <script src="js/contact.js"></script>
   <script src="js/jquery.ajaxchimp.min.js"></script>
   <script src="js/jquery.form.js"></script>
   <script src="js/jquery.validate.min.js"></script>
   <script src="js/mail-script.js"></script>
  <!-- Contact Javascript End -->

   <script src="js/main.js"></script>

</body>

</html>